@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0b0f19;
  color: white;
  font-family: sans-serif;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}